<mat-toolbar color="primary">
  <span style="color: white;">Employee Form</span>

  <span class="example-spacer"></span>
  <button class="emp-add-btn" style=" background-color: rgb(178, 23, 76); color: white;" mat-raised-button
    color="primary" (click)="empAddForm()">+
    employee</button>
</mat-toolbar>
<div>
  <app-header [user]="user$ | async" (signOut)="onSignOut()"></app-header>
  <router-outlet></router-outlet>
</div>

<!-- employee table code that now is in main.component.html used to be here -->